<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>FlashcardApp</string>
    <key>CFBundleIdentifier</key>
    <string>com.simon.flashcardapp</string>
    <key>CFBundleName</key>
    <string>Alinas Karteikarten</string>
    <key>CFBundleDisplayName</key>
    <string>Alinas Karteikarten</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
</dict>
</plist>
