<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package Name="FlashcardApp" 
             Manufacturer="Dein Name" 
             Version="1.0.0.0" 
             Scope="perMachine"
             UpgradeCode="5b852b9a-ee2b-4a8a-b4af-f3cedf86a4e9">

        <MajorUpgrade DowngradeErrorMessage="Eine neuere Version von [ProductName] ist bereits installiert." />

        <Feature Id="ProductFeature" Title="FlashcardApp" Level="1">
            <ComponentRef Id="FlashcardAppExe" />
            <ComponentGroupRef Id="HARVESTED_COMPONENTS" /> 
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="DesktopShortcut" />
        </Feature>

        <ui:WIXUI Id="WixUI_InstallDir"
                  InstallDirectory="INSTALLFOLDER" />

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="FlashcardApp" />
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="FlashcardApp"/>
        </StandardDirectory>
        <StandardDirectory Id="DesktopFolder" />
    </Package> <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="FlashcardAppExe" Guid="54ff843a-d73a-4652-9b39-4c550c2d9022">
                <File Id="FlashcardApp.exe"
                      Source="C:\Users\Simon\Documents\Simon\Alina\Flashcard-App\FlashcardApp\bin\Release\net9.0\win-x64\publish\FlashcardApp.exe"
                      KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="5a457ca4-3f4d-4143-8998-2b16b5f4e591">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="FlashcardApp"
                          Description="Karteikarten-Anwendung"
                          Target="[#FlashcardApp.exe]"
                          WorkingDirectory="INSTALLFOLDER"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\FlashcardApp\Installer" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <StandardDirectory Id="DesktopFolder">
            <Component Id="DesktopShortcut" Guid="7f85b720-89af-47d5-9f4c-0eea5aff4d9e">
                <Shortcut Id="ApplicationDesktopShortcut"
                          Name="FlashcardApp"
                          Description="Karteikarten-Anwendung"
                          Target="[#FlashcardApp.exe]"
                          WorkingDirectory="INSTALLFOLDER"/>
                <RegistryValue Root="HKCU" Key="Software\FlashcardApp\Installer" Name="desktop_shortcut" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </StandardDirectory>
    </Fragment>
</Wix>